site_name: "Documentation As Code Testing Site"
site_description: "Docs-as-code site published with GitHub Pages, for testing"
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: indigo
      accent: indigo

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Standards:
      - Secure-by-Design: standards/secure-by-design.md
  - Runbooks:
      - Incident Response: runbooks/incident-respone.md

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
 # - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: 
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
